main {
  background: linear-gradient(to bottom, rgb(187, 39, 39), rgb(253, 253, 253));
  color: black;
}

  .headers th {
    padding-right: 50px;

}

.headers td{
    padding-right: 50px;
}
footer {
  margin-left: 1130px;
}