main {
  background: linear-gradient(to bottom, rgb(187, 39, 39), rgb(253, 253, 253));
  color: black;
}
h1 {
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 text-align: center;
}

span     {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    ; text-align: left;    
    font-size: large;
    columns: left;
}
footer {
  margin-left: 1130px;
}

#Separador {
  border: 2px solid;
  margin-bottom: 100px;
  width: 2060px;
  color: black;
}


.image-container img {
    width: 100%;
    height: auto; 
    border: 2px solid #ccc; 
 float: right;
}
 .container{
    vertical-align: middle;
    margin-top: 100px;
 }

 .containerB{
  vertical-align: middle;
  margin-top: 100px;
  text-align: center;
}

#TU{
  margin-top: 20px;
  margin-bottom: 20px;
}

 img {
  transition: 3600ms;
 }

 img:hover {
  transform: rotateX(360deg);

 }