h1 {
    font-size: xx-large;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 text-align: center;
}

p     {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
    ; text-align: center;    
    font-size: large;
}


.container {
    width: 5%;
    margin: 20px;
    padding: 20px;
    background-color: #b86865;
    border: 5px solid #6b0303;
    display: inline-block;
    box-sizing: content-box;
    vertical-align: top;
}

.image-container img {
    max-width: 45%; 
    height: auto; 
    border: 2px solid #ccc; 
 float: right;
}

#a{
    background-color: aquamarine;
}
#b{
    background-color: rgb(122, 177, 179);
}
#c{
    background-color: burlywood;
}
#d{
    background-color: rgb(137, 160, 35);
}